---
---

$font: "Bookman Old Style";
$black: #000;


body {
  font: 18px/1.5 $font;
}

.container {
  margin: 0 auto;
  max-width: 790px;
  
  padding: 0 0px;
  width: 100%;
  margin-top: 20px;
}

.entry {
    text-align: justify;
    text-justify: inter-word;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: $black;
}

.nav {
  float: right;

  a {
    color: $black;
  }
}

.header {
     text-decoration: none;
     cursor: pointer;
     color: $black;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  padding: 5px;
  width: 240px;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.footer {
  padding: 20px 0;
  text-align: center;
}
