---
---

$font: "Bookman Old Style";
$color: #212A3D;

@mixin mobile {
    @media only screen and (max-device-width: 480px) {
    @content;
  }
}


.container {
  margin: 5 auto;
  max-width: 790px;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  font-size: 105%;
  font-family: $font;
  line-height: 1.4;
  color: $color;
 
  @include mobile {
    font-size: 135%;
    line-height: 1.3;
    margin-top: 25px;
    max-width: 100%;
    }
}

img {
  @include mobile {
    width: 70;
    }
}

h1 {
  font-size: 120%;
}


.articles {
  font-size: 100%;
  margin: 5px;
  padding: 5px;
}

.entry {
  text-align: justify;
  text-justify: inter-word;
    
  @include mobile {
    font-size: 135%;
  }
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: $color;
  font-size: 100%;
}

.nav {
  float: right;
  font-size: 110%;
  
  @include mobile {
    font-size: 200%;
  }

  a {
    color: $color;
  }
}

.header {
   text-decoration: none;
   cursor: pointer;
   color: $color;
   
   @include mobile {
     font-size: 145%;
   }
}

.center {
  text-align: center;
  font-size: 115% ;
  
  @include mobile {
     font-size: 135%;
     margin-right: 20px;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 105%;
  
  @include mobile {
      width: 100%;
     font-size: 140%;
     margin-right: 20px;
  }
}

.flex-item {
  padding: 5px;
  width: 240px;
  height: auto;
  margin-top: 10px;
  text-align: center;
  
  @include mobile {
    width: 100%;
     margin-left: 100px;
     margin-right: 100px;
  }
}

.footer {
  padding: 20px 0;
  text-align: center;
  
  @include mobile {
    font-size:200%;
  }
  
  font-size: 110%;
}
