---
---

$font: "Bookman Old Style";
$black: #000;

@mixin mobile {
    @media only screen and (max-device-width: 480px) {
    @content;
  }
}



.container {
  margin: 0 auto;
  max-width: 790px;
  
  padding: 0 0px;
  width: 100%;
  margin-top: 20px;
  font-size: 105%;
  font-family: $font;
  line-height: 1.4;
 
  
  @include mobile {
        font-size: 150%;
        line-height: 1.3;
        margin-top: 25px;
        max-width: 100%;
    }
  
  
}

.entry {
    text-align: justify;
    text-justify: inter-word;
    
    font-size: 110%;
    
    @include mobile {
          font-size: 155%;
       
      }
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: $black;
}

.nav {
  float: right;
  
  @include mobile {
      font-size:150%;
    }

  a {
    color: $black;
    }
}

.header {
     text-decoration: none;
     cursor: pointer;
     color: $black;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  
  @include mobile {
      width: 100%;
     font-size: 140%;
     margin-right: 20px;
  }
}

.flex-item {
  padding: 5px;
  width: 240px;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.footer {
  padding: 20px 0;
  text-align: center;
}
