<html>
  <head>
    <title>
        {{ site.title }}{% if page.title %}: {{ page.title }}
        {% endif %}
    </title>
    
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="author" content="Sergey Zavadski"/>
      </head>

  <body>
   <div class="container" >
     <a href="/"><img src="/images/sign.svg"></a>
      <div class="nav">
        <a href="/nonfiction">nonfiction</a>
        <a href="/poems">poems</a>
        <a href="/lyrics">lyrics</a>
      </div>
    </div>
    
      <div class="container entry" >  
      {{ content }}
    </div>
      <div class="footer">
        <a href="https://www.twitter.com/sarquaz">twitter</a>&nbsp;&nbsp; 
        <a href="https://instagram.com/sarquaz">instagram</a>&nbsp;&nbsp;
        <a href="https://github.com/sarquaz">github</i></a>&nbsp;&nbsp;
        <a href="mailto:sergeyzavadski@gmail.com">email</i></a>
      </div>

  </body>
</html>
